<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Enter Chat!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> 
    <script src="/socket.io/socket.io.js"></script>   
    <style>
        body {
            overflow: hidden;
            background-color: rgb(212, 219, 226);
        }

        #username {
            display: inline-block;
        }

        .col-md-12 {
            text-align: center; 
        } 
        .wrap { 
           width: 500px; 
           display: inline-block; 
           margin-top: 350px;  
        }
    </style> 
    <script>
        window.onload = function () {
            let btn = document.getElementsByTagName('button')[0]; 
            let inp = document.getElementsByTagName('input')[0]; 
            let generateEvent = function () {
                // сгенерировать событие отправки сообщения 
                if (inp.value == '') {
                    alert ('invalid username! try again!'); 
                    return; 
                }
                // перенаправление на страницу чата 
                window.location.href = '/' + inp.value; 
            }
            btn.onclick = function () { 
                generateEvent();
            }
            btn.addEventListener("click", generateEvent);
            inp.addEventListener("keypress", (e) => {
                if(e.keyCode == 13){
                    generateEvent();
                }
            });
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <div>
                    <a href="https://socket-simplechat.herokuapp.com/auth/facebook">Login with Facebook</a>
                </div>
                <div class="input-group">
                    User: {{user.toString()}}
                    <input type="text" class="input-lg form-control" id="username" placeholder="Ник..." />
                    <span class="input-group-btn">
                        <button class="btn btn-lg btn-warning">Начать чат</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>